In [0]:
%fs
ls "/mnt/yellowcab"

path,name,size,modificationTime
dbfs:/mnt/yellowcab/audit/,audit/,0,1714172809000
dbfs:/mnt/yellowcab/bronze/,bronze/,0,1714172328000
dbfs:/mnt/yellowcab/gold/,gold/,0,1714172819000
dbfs:/mnt/yellowcab/silver/,silver/,0,1714172801000

Checking for missing values

In [0]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnan, when, count

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Missing Data Check") \
    .getOrCreate()

# Path to the CSV file in the bronze area
csv_path = "/mnt/yellowcab/bronze/yellowcabdataset.csv"

# Read the CSV file into a DataFrame
df = spark.read.format("csv").option("header","true").option("inferSchema","true").csv(csv_path) 

# Check for missing values in each column
missing_data_counts = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns])

# Convert the missing_data_counts DataFrame to Pandas DataFrame
missing_data_counts_pd = missing_data_counts.toPandas()

# Display the missing data counts in table format
missing_data_counts_pd

   _c0  VendorID  ...  improvement_surcharge  total_amount
0    0         0  ...                      0             0

[1 rows x 18 columns]

Print the data frame

In [0]:
df_pd = df.toPandas()
df_pd

             _c0  VendorID  ... improvement_surcharge total_amount
0       24870114         2  ...                   0.3        16.56
1       35634249         1  ...                   0.3        20.80
2      106203690         1  ...                   0.3         8.75
3       38942136         2  ...                   0.3        27.69
4       30841670         2  ...                   0.3        17.80
...          ...       ...  ...                   ...          ...
22694   14873857         2  ...                   0.3         5.80
22695   66632549         2  ...                   0.3        73.20
22696   74239933         2  ...                   0.3         5.30
22697   60217333         2  ...                   0.3        13.00
22698   17208911         1  ...                   0.3        14.15

[22699 rows x 18 columns]

Checking for duplicate values and deduping

In [0]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Duplicate Data Check") \
    .getOrCreate()

# Path to the CSV file in the bronze area
csv_path = "/mnt/yellowcab/bronze/yellowcabdataset.csv"

# Read the CSV file into a DataFrame
df = spark.read.format("csv").option("header","true").option("inferSchema","true").csv(csv_path)

# Count occurrences of each distinct row (i.e., find duplicates)
duplicate_counts = df.groupBy(df.columns).count().where(col('count') > 1)

# Display the duplicate rows
duplicate_counts.show(truncate=False)

+---+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+-----+
|_c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|count|
+---+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+-----+
+---+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+-----+

In [0]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

Converting Date-Time format to Date and Time separately

In [0]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_timestamp, date_format

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Separate Date and Time") \
    .getOrCreate()

# Path to the CSV file in the bronze area
csv_path = "/mnt/yellowcab/bronze/yellowcabdataset.csv"

# Read the CSV file into a DataFrame
df = spark.read.option("header", "true").csv(csv_path)

# Convert tpep_pickup_datetime to timestamp type
df = df.withColumn("tpep_pickup_datetime", to_timestamp(col("tpep_pickup_datetime"), "MM/dd/yyyy h:mm:ss a"))

# Separate date and time components
df = df.withColumn("tpep_pickup_date", date_format(col("tpep_pickup_datetime"), "MM-dd-yyyy")) \
       .withColumn("tpep_pickup_time", date_format(col("tpep_pickup_datetime"), "HH:mm:ss"))

# Show the updated DataFrame


dfnew_pd = df.toPandas()
dfnew_pd

             _c0 VendorID  ... tpep_pickup_date tpep_pickup_time
0       24870114        2  ...       03-25-2017         08:55:43
1       35634249        1  ...       04-11-2017         14:53:28
2      106203690        1  ...       12-15-2017         07:26:56
3       38942136        2  ...       05-07-2017         13:17:59
4       30841670        2  ...       04-15-2017         23:32:20
...          ...      ...  ...              ...              ...
22694   14873857        2  ...       02-24-2017         17:37:23
22695   66632549        2  ...       08-06-2017         16:43:59
22696   74239933        2  ...       09-04-2017         14:54:14
22697   60217333        2  ...       07-15-2017         12:56:30
22698   17208911        1  ...       03-02-2017         13:02:49

[22699 rows x 20 columns]

In [0]:
# Separate date and time components for tpep_dropoff_datetime
df = df.withColumn("tpep_dropoff_datetime", to_timestamp(col("tpep_dropoff_datetime"), "MM/dd/yyyy h:mm:ss a")) \
       .withColumn("tpep_dropoff_date", date_format(col("tpep_dropoff_datetime"), "MM-dd-yyyy")) \
       .withColumn("tpep_dropoff_time", date_format(col("tpep_dropoff_datetime"), "HH:mm:ss"))

# Show the updated DataFrame
dfnew_pd = df.toPandas()
dfnew_pd

             _c0 VendorID  ... tpep_dropoff_date tpep_dropoff_time
0       24870114        2  ...        03-25-2017          09:09:47
1       35634249        1  ...        04-11-2017          15:19:58
2      106203690        1  ...        12-15-2017          07:34:08
3       38942136        2  ...        05-07-2017          13:48:14
4       30841670        2  ...        04-15-2017          23:49:03
...          ...      ...  ...               ...               ...
22694   14873857        2  ...        02-24-2017          17:40:39
22695   66632549        2  ...        08-06-2017          17:24:47
22696   74239933        2  ...        09-04-2017          14:58:22
22697   60217333        2  ...        07-15-2017          13:08:26
22698   17208911        1  ...        03-02-2017          13:16:09

[22699 rows x 22 columns]

In [0]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- tpep_pickup_date: string (nullable = true)
 |-- tpep_pickup_time: string (nullable = true)
 |-- tpep_dropoff_date: string (nullable = true)
 |-- tpep_dropoff_time: string (nullable = true)

Sending the cleaned data into the SILVER LAYER

In [0]:
# Path to the Silver area
silver_path = "/mnt/yellowcab/silver/"

# Write the DataFrame to the Silver area as a CSV file with the specified file name
df.write.mode("overwrite").option("header", "true").csv(silver_path)

Reading the data in the silver level before silverlevel transformation

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Read_CSV_into_DataFrame") \
    .getOrCreate()

# Define the schema for the CSV file
schema = StructType([
    StructField("_c0", StringType(), True),
    StructField("VendorID", StringType(), True),
    StructField("tpep_pickup_datetime", TimestampType(), True),
    StructField("tpep_dropoff_datetime", TimestampType(), True),
    StructField("passenger_count", StringType(), True),
    StructField("trip_distance", StringType(), True),
    StructField("RatecodeID", StringType(), True),
    StructField("store_and_fwd_flag", StringType(), True),
    StructField("PULocationID", StringType(), True),
    StructField("DOLocationID", StringType(), True),
    StructField("payment_type", StringType(), True),
    StructField("fare_amount", StringType(), True),
    StructField("extra", StringType(), True),
    StructField("mta_tax", StringType(), True),
    StructField("tip_amount", StringType(), True),
    StructField("tolls_amount", StringType(), True),
    StructField("improvement_surcharge", StringType(), True),
    StructField("total_amount", StringType(), True),
    StructField("tpep_pickup_date", StringType(), True),
    StructField("tpep_pickup_time", StringType(), True),
    StructField("tpep_dropoff_date", StringType(), True),
    StructField("tpep_dropoff_time", StringType(), True)
])

# Read the CSV file from the specified path into a DataFrame with the specified schema
csv_path = "dbfs:/mnt/yellowcab/silver/part-00000-tid-2348824206068138771-d8093b30-989f-431d-8dd7-239bd2cdc9ad-77-1-c000.csv"
silver_df = spark.read.option("header", "true").schema(schema).csv(csv_path)

# Display the contents of the DataFrame
silver_df.show()

+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------------+----------------+-----------------+-----------------+
|      _c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|tpep_pickup_date|tpep_pickup_time|tpep_dropoff_date|tpep_dropoff_time|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------------+----------------+-----------------+-----------------+
| 24870114|       2| 2017-03-25 08:55:43|  2017-03-25 09:09:47|              6|         3.34|         1|                 N|         100|         231|           1|         13|    0|    0.5|      2.76|           0|                  0.3|       16.56|      03-25-2017|        08:55:43|       03-25-2017|         09:09:47|
| 35634249|       1| 2017-04-11 14:53:28|  2017-04-11 15:19:58|              1|          1.8|         1|                 N|         186|          43|           1|         16|    0|    0.5|         4|           0|                  0.3|        20.8|      04-11-2017|        14:53:28|       04-11-2017|         15:19:58|
|106203690|       1| 2017-12-15 07:26:56|  2017-12-15 07:34:08|              1|            1|         1|                 N|         262|         236|           1|        6.5|    0|    0.5|      1.45|           0|                  0.3|        8.75|      12-15-2017|        07:26:56|       12-15-2017|         07:34:08|
| 38942136|       2| 2017-05-07 13:17:59|  2017-05-07 13:48:14|              1|          3.7|         1|                 N|         188|          97|           1|       20.5|    0|    0.5|      6.39|           0|                  0.3|       27.69|      05-07-2017|        13:17:59|       05-07-2017|         13:48:14|
| 30841670|       2| 2017-04-15 23:32:20|  2017-04-15 23:49:03|              1|         4.37|         1|                 N|           4|         112|           2|       16.5|  0.5|    0.5|         0|           0|                  0.3|        17.8|      04-15-2017|        23:32:20|       04-15-2017|         23:49:03|
| 23345809|       2| 2017-03-25 20:34:11|  2017-03-25 20:42:11|              6|          2.3|         1|                 N|         161|         236|           1|          9|  0.5|    0.5|      2.06|           0|                  0.3|       12.36|      03-25-2017|        20:34:11|       03-25-2017|         20:42:11|
| 37660487|       2| 2017-05-03 19:04:09|  2017-05-03 20:03:47|              1|        12.83|         1|                 N|          79|         241|           1|       47.5|    1|    0.5|      9.86|           0|                  0.3|       59.16|      05-03-2017|        19:04:09|       05-03-2017|         20:03:47|
| 69059411|       2| 2017-08-15 17:41:06|  2017-08-15 18:03:05|              1|         2.98|         1|                 N|         237|         114|           1|         16|    1|    0.5|      1.78|           0|                  0.3|       19.58|      08-15-2017|        17:41:06|       08-15-2017|         18:03:05|
|  8433159|       2| 2017-02-04 16:17:07|  2017-02-04 16:29:14|              1|          1.2|         1|                 N|         234|         249|           2|          9|    0|    0.5|         0|           0|                  0.3|         9.8|      02-04-2017|        16:17:07|       02-04-2017|         16:29:14|
| 95294817|       1| 2017-11-10 15:20:29|  2017-11-10 15:40:55|              1|          1.6|         1|                 N|         239|         237|           1|         13|    0|    0.5|      2.75|           0|                  0.3|       16.55|      11-10-2017|        15:20:29|       11-10-2017|         15:40:55|
| 18017909|       2| 2017-03-04 11:58:00|  2017-03-04 12:13:12|              1|         1.77|         1|                 N|         162|         142|           1|       11.5|    0|    0.5|      2.46|           0|                  0.3|       14.76|      03-04-2017|        11:58:00|       03-04-2017|         12:13:12|
| 18600059|       2| 2017-03-05 19:15:30|  2017-03-05 19:52:18|              2|         18.9|         2|                 N|         236|         132|           1|         52|    0|    0.5|     14.58|        5.54|                  0.3|       72.92|      03-05-2017|        19:15:30|       03-05-2017|         19:52:18|
| 46782248|       1| 2017-06-09 19:00:26|  2017-06-09 19:20:11|              1|            3|         1|                 N|          13|         148|           1|         15|    1|    0.5|      3.35|           0|                  0.3|       20.15|      06-09-2017|        19:00:26|       06-09-2017|         19:20:11|
| 94113247|       2| 2017-11-06 23:35:05|  2017-11-06 23:42:57|              1|         2.39|         1|                 N|         209|          25|           1|        9.5|  0.5|    0.5|      2.16|           0|                  0.3|       12.96|      11-06-2017|        23:35:05|       11-06-2017|         23:42:57|
| 14168279|       1| 2017-02-22 15:18:31|  2017-02-22 15:42:50|              1|          3.3|         1|                 N|         238|         161|           1|       17.5|    0|    0.5|      4.55|           0|                  0.3|       22.85|      02-22-2017|        15:18:31|       02-22-2017|         15:42:50|
| 47444401|       2| 2017-06-02 06:41:39|  2017-06-02 06:57:47|              1|         5.93|         1|                 N|         239|         231|           1|         19|    0|    0.5|         3|           0|                  0.3|        22.8|      06-02-2017|        06:41:39|       06-02-2017|         06:57:47|
| 69088676|       1| 2017-08-15 19:48:08|  2017-08-15 20:00:37|              1|          3.6|         1|                 N|         163|          41|           1|       12.5|    1|    0.5|      2.85|           0|                  0.3|       17.15|      08-15-2017|        19:48:08|       08-15-2017|         20:00:37|
| 58691513|       2| 2017-07-10 13:36:31|  2017-07-10 13:48:43|              2|         1.71|         1|                 N|         142|         100|           1|        9.5|    0|    0.5|         0|           0|                  0.3|        10.3|      07-10-2017|        13:36:31|       07-10-2017|         13:48:43|
| 35388828|       2| 2017-04-10 18:12:58|  2017-04-10 18:17:39|              2|         0.63|         1|                 N|         263|         262|           2|          5|    1|    0.5|         0|           0|                  0.3|         6.8|      04-10-2017|        18:12:58|       04-10-2017|         18:17:39|
| 18383214|       2| 2017-03-05 04:01:07|  2017-03-05 04:14:11|              2|         2.77|         1|                 N|          79|          68|           1|       11.5|  0.5|    0.5|       3.2|           0|                  0.3|          16|      03-05-2017|        04:01:07|       03-05-2017|         04:14:11|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------------+----------------+-----------------+-----------------+
only showing top 20 rows

In [0]:
# Read the CSV file from the Silver area into a DataFrame with the specified schema
silver_df = spark.read.option("header", "true").schema(schema).csv(silver_path)

# Display both column names and data
# Display the contents of the DataFrame
silver_df.show()

+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------------+----------------+-----------------+-----------------+
|      _c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|tpep_pickup_date|tpep_pickup_time|tpep_dropoff_date|tpep_dropoff_time|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------------+----------------+-----------------+-----------------+
| 24870114|       2| 2017-03-25 08:55:43|  2017-03-25 09:09:47|              6|         3.34|         1|                 N|         100|         231|           1|         13|    0|    0.5|      2.76|           0|                  0.3|       16.56|      03-25-2017|        08:55:43|       03-25-2017|         09:09:47|
| 35634249|       1| 2017-04-11 14:53:28|  2017-04-11 15:19:58|              1|          1.8|         1|                 N|         186|          43|           1|         16|    0|    0.5|         4|           0|                  0.3|        20.8|      04-11-2017|        14:53:28|       04-11-2017|         15:19:58|
|106203690|       1| 2017-12-15 07:26:56|  2017-12-15 07:34:08|              1|            1|         1|                 N|         262|         236|           1|        6.5|    0|    0.5|      1.45|           0|                  0.3|        8.75|      12-15-2017|        07:26:56|       12-15-2017|         07:34:08|
| 38942136|       2| 2017-05-07 13:17:59|  2017-05-07 13:48:14|              1|          3.7|         1|                 N|         188|          97|           1|       20.5|    0|    0.5|      6.39|           0|                  0.3|       27.69|      05-07-2017|        13:17:59|       05-07-2017|         13:48:14|
| 30841670|       2| 2017-04-15 23:32:20|  2017-04-15 23:49:03|              1|         4.37|         1|                 N|           4|         112|           2|       16.5|  0.5|    0.5|         0|           0|                  0.3|        17.8|      04-15-2017|        23:32:20|       04-15-2017|         23:49:03|
| 23345809|       2| 2017-03-25 20:34:11|  2017-03-25 20:42:11|              6|          2.3|         1|                 N|         161|         236|           1|          9|  0.5|    0.5|      2.06|           0|                  0.3|       12.36|      03-25-2017|        20:34:11|       03-25-2017|         20:42:11|
| 37660487|       2| 2017-05-03 19:04:09|  2017-05-03 20:03:47|              1|        12.83|         1|                 N|          79|         241|           1|       47.5|    1|    0.5|      9.86|           0|                  0.3|       59.16|      05-03-2017|        19:04:09|       05-03-2017|         20:03:47|
| 69059411|       2| 2017-08-15 17:41:06|  2017-08-15 18:03:05|              1|         2.98|         1|                 N|         237|         114|           1|         16|    1|    0.5|      1.78|           0|                  0.3|       19.58|      08-15-2017|        17:41:06|       08-15-2017|         18:03:05|
|  8433159|       2| 2017-02-04 16:17:07|  2017-02-04 16:29:14|              1|          1.2|         1|                 N|         234|         249|           2|          9|    0|    0.5|         0|           0|                  0.3|         9.8|      02-04-2017|        16:17:07|       02-04-2017|         16:29:14|
| 95294817|       1| 2017-11-10 15:20:29|  2017-11-10 15:40:55|              1|          1.6|         1|                 N|         239|         237|           1|         13|    0|    0.5|      2.75|           0|                  0.3|       16.55|      11-10-2017|        15:20:29|       11-10-2017|         15:40:55|
| 18017909|       2| 2017-03-04 11:58:00|  2017-03-04 12:13:12|              1|         1.77|         1|                 N|         162|         142|           1|       11.5|    0|    0.5|      2.46|           0|                  0.3|       14.76|      03-04-2017|        11:58:00|       03-04-2017|         12:13:12|
| 18600059|       2| 2017-03-05 19:15:30|  2017-03-05 19:52:18|              2|         18.9|         2|                 N|         236|         132|           1|         52|    0|    0.5|     14.58|        5.54|                  0.3|       72.92|      03-05-2017|        19:15:30|       03-05-2017|         19:52:18|
| 46782248|       1| 2017-06-09 19:00:26|  2017-06-09 19:20:11|              1|            3|         1|                 N|          13|         148|           1|         15|    1|    0.5|      3.35|           0|                  0.3|       20.15|      06-09-2017|        19:00:26|       06-09-2017|         19:20:11|
| 94113247|       2| 2017-11-06 23:35:05|  2017-11-06 23:42:57|              1|         2.39|         1|                 N|         209|          25|           1|        9.5|  0.5|    0.5|      2.16|           0|                  0.3|       12.96|      11-06-2017|        23:35:05|       11-06-2017|         23:42:57|
| 14168279|       1| 2017-02-22 15:18:31|  2017-02-22 15:42:50|              1|          3.3|         1|                 N|         238|         161|           1|       17.5|    0|    0.5|      4.55|           0|                  0.3|       22.85|      02-22-2017|        15:18:31|       02-22-2017|         15:42:50|
| 47444401|       2| 2017-06-02 06:41:39|  2017-06-02 06:57:47|              1|         5.93|         1|                 N|         239|         231|           1|         19|    0|    0.5|         3|           0|                  0.3|        22.8|      06-02-2017|        06:41:39|       06-02-2017|         06:57:47|
| 69088676|       1| 2017-08-15 19:48:08|  2017-08-15 20:00:37|              1|          3.6|         1|                 N|         163|          41|           1|       12.5|    1|    0.5|      2.85|           0|                  0.3|       17.15|      08-15-2017|        19:48:08|       08-15-2017|         20:00:37|
| 58691513|       2| 2017-07-10 13:36:31|  2017-07-10 13:48:43|              2|         1.71|         1|                 N|         142|         100|           1|        9.5|    0|    0.5|         0|           0|                  0.3|        10.3|      07-10-2017|        13:36:31|       07-10-2017|         13:48:43|
| 35388828|       2| 2017-04-10 18:12:58|  2017-04-10 18:17:39|              2|         0.63|         1|                 N|         263|         262|           2|          5|    1|    0.5|         0|           0|                  0.3|         6.8|      04-10-2017|        18:12:58|       04-10-2017|         18:17:39|
| 18383214|       2| 2017-03-05 04:01:07|  2017-03-05 04:14:11|              2|         2.77|         1|                 N|          79|          68|           1|       11.5|  0.5|    0.5|       3.2|           0|                  0.3|          16|      03-05-2017|        04:01:07|       03-05-2017|         04:14:11|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------------+----------------+-----------------+-----------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, FloatType, DateType, TimestampType

# Assuming you have a DataFrame named df
df = df.withColumn("_c0", col("_c0").cast(IntegerType()))
df = df.withColumn("VendorID", col("VendorID").cast(IntegerType()))
df = df.withColumn("tpep_pickup_datetime", col("tpep_pickup_datetime").cast(TimestampType()))
df = df.withColumn("tpep_dropoff_datetime", col("tpep_dropoff_datetime").cast(TimestampType()))
df = df.withColumn("passenger_count", col("passenger_count").cast(IntegerType()))
df = df.withColumn("trip_distance", col("trip_distance").cast(FloatType()))
df = df.withColumn("RatecodeID", col("RatecodeID").cast(IntegerType()))
# store_and_fwd_flag remains string
df = df.withColumn("PULocationID", col("PULocationID").cast(IntegerType()))
df = df.withColumn("DOLocationID", col("DOLocationID").cast(IntegerType()))
df = df.withColumn("payment_type", col("payment_type").cast(FloatType()))
df = df.withColumn("fare_amount", col("fare_amount").cast(FloatType()))
df = df.withColumn("extra", col("extra").cast(FloatType()))
df = df.withColumn("mta_tax", col("mta_tax").cast(FloatType()))
df = df.withColumn("tip_amount", col("tip_amount").cast(FloatType()))
df = df.withColumn("tolls_amount", col("tolls_amount").cast(FloatType()))
df = df.withColumn("improvement_surcharge", col("improvement_surcharge").cast(FloatType()))
df = df.withColumn("total_amount", col("total_amount").cast(FloatType()))
df = df.withColumn("tpep_pickup_date", col("tpep_pickup_date").cast(DateType()))
df = df.withColumn("tpep_pickup_time", col("tpep_pickup_time").cast(TimestampType()))
df = df.withColumn("tpep_dropoff_date", col("tpep_dropoff_date").cast(DateType()))
df = df.withColumn("tpep_dropoff_time", col("tpep_dropoff_time").cast(TimestampType()))

Creating Fact and Dimension Tables and storing them in the GOLD LAYER

In [0]:
# Load data from Silver layer into DataFrame
silver_df = spark.read.option("header", "true").csv(silver_path)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-4435777153636194>, line 2
      1 # Load data from Silver layer into DataFrame
----> 2 silver_df = spark.read.option("header", "true").csv(silver_path)

NameError: name 'silver_path' is not defined

In [0]:
silverdf_pd = silver_df.toPandas()
silverdf_pd

             _c0 VendorID  ... tpep_dropoff_date tpep_dropoff_time
0       24870114        2  ...        03-25-2017          09:09:47
1       35634249        1  ...        04-11-2017          15:19:58
2      106203690        1  ...        12-15-2017          07:34:08
3       38942136        2  ...        05-07-2017          13:48:14
4       30841670        2  ...        04-15-2017          23:49:03
...          ...      ...  ...               ...               ...
22694   14873857        2  ...        02-24-2017          17:40:39
22695   66632549        2  ...        08-06-2017          17:24:47
22696   74239933        2  ...        09-04-2017          14:58:22
22697   60217333        2  ...        07-15-2017          13:08:26
22698   17208911        1  ...        03-02-2017          13:16:09

[22699 rows x 22 columns]

Creating Fact Table

In [0]:
# Fact Table: Trips_Fact
trips_fact_df = silver_df.select(
    col("_c0").cast("integer").alias("_c0"),
    col("tpep_pickup_datetime").cast("timestamp").alias("tpep_pickup_datetime"),
    col("tpep_dropoff_datetime").cast("timestamp").alias("tpep_dropoff_datetime"),
    col("passenger_count").cast("integer").alias("passenger_count"),
    col("trip_distance").cast("float").alias("trip_distance"),
    col("RatecodeID").cast("integer").alias("RatecodeID"),
    col("PULocationID").cast("integer").alias("PULocationID"),
    col("DOLocationID").cast("integer").alias("DOLocationID")
)

# Write Fact Table to Gold layer
trips_fact_df.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/yellowcab/gold/Trips_Fact")

Time Dimension

In [0]:
# Time Dimension: Time_Dimension
time_dimension_df = silver_df.select(
    col("tpep_pickup_datetime").alias("tpep_pickup_datetime"),
    date_format(col("tpep_pickup_datetime"), "yyyy-MM-dd").cast("date").alias("tpep_pickup_date"),
    col("tpep_pickup_datetime").alias("tpep_pickup_time"),
    col("tpep_dropoff_datetime").alias("tpep_dropoff_datetime"),
    date_format(col("tpep_dropoff_datetime"), "yyyy-MM-dd").cast("date").alias("tpep_dropoff_date"),
    col("tpep_dropoff_datetime").alias("tpep_dropoff_time")
)

# Write Time Dimension to Gold layer
time_dimension_df.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/yellowcab/gold/Time_Dimension")

Location Dimension

In [0]:
# Location Dimension: Location_Dimension
location_dimension_df = silver_df.select(
    col("PULocationID").cast("integer").alias("PULocationID"),
    col("DOLocationID").cast("integer").alias("DOLocationID")
)

# Write Location Dimension to Gold layer
location_dimension_df.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/yellowcab/gold/Location_Dimension")

Vendor Dimension

In [0]:
# Vendor Dimension: Vendor_Dimension
vendor_dimension_df = silver_df.select(
    col("VendorID").cast("integer").alias("VendorID")
)

# Write Vendor Dimension to Gold layer
vendor_dimension_df.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/yellowcab/gold/Vendor_Dimension")

Ratecode Dimension

In [0]:
# Ratecode Dimension: Ratecode_Dimension
ratecode_dimension_df = silver_df.select(
    col("RatecodeID").cast("integer").alias("RatecodeID")
)

Price Dimension

In [0]:




# Price Dimension: Price_Dimension
price_dimension_df = silver_df.select(
    col("_c0").cast("integer").alias("_c0"),
    col("payment_type").cast("float").alias("payment_type"),
    col("fare_amount").cast("float").alias("fare_amount"),
    col("extra").cast("float").alias("extra"),
    col("mta_tax").cast("float").alias("mta_tax"),
    col("tip_amount").cast("float").alias("tip_amount"),
    col("tolls_amount").cast("float").alias("tolls_amount"),
    col("improvement_surcharge").cast("float").alias("improvement_surcharge"),
    col("total_amount").cast("float").alias("total_amount")
)

# Write Price Dimension to Gold layer
price_dimension_df.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/yellowcab/gold/Price_Dimension")

Data is stored in the GOLD LAYER

In [0]:
# Path to the Silver area
silver_path = "/mnt/yellowcab/gold/"

# Write the DataFrame to the Silver area as a CSV file with the specified file name
df.write.mode("overwrite").option("header", "true").csv(silver_path)

Storing a copy of all the data in the GOLD LAYER to AUDIT LAYER

In [0]:
# List all files in the gold directory
gold_files = dbutils.fs.ls("/mnt/yellowcab/gold/")

# Move each file from the gold directory to the audit directory
for file in gold_files:
    file_path = file.path
    file_name = file.name
    dbutils.fs.mv(file_path, f"/mnt/yellowcab/audit/{file_name}", recurse=True)